@import '../../../styles/settings.scss';

.root {
  margin: 2 * $base-size auto;
  width: 85%;
  @media (min-width: 768px) {
    width: 60%;
  }
 }
 .pageHeader {
  font-size: 2 * $base-size;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1 * $base-size;

}
.orderHeader {
  font-size: 1.3 * $base-size;
  padding-bottom: 0.5 * $base-size;

}

.orderContent {
  padding-bottom: 1 * $base-size;
  border-bottom: 1px solid $color-dark;
  margin-bottom: 2 * $base-size;
}