@import '../../../styles/settings.scss';

.root {
  margin-top: 4 * $base-size;
}
.productImage {
  position: relative;
  border: 1px solid $color-dark;
  width: 100%;
  height: 140vw;
  overflow: hidden;
  @media (min-width: 576px) {
    height: 75vw;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    @extend %transition-params;
  }
  .hidden {
    opacity: 0;
  }
  .visible {
    opacity: 1;
  }
}
.productInfo {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 2*$base-size;
  > div {
    margin-bottom: 2 * $base-size;
  }
  .logo {
    text-transform: uppercase;
    letter-spacing: $font-spacing;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  .productTitle {
    font-size: $font-base-size * 2;
    text-transform: uppercase;
    letter-spacing: $font-spacing;
  }
  .productPrice {
    font-size: $font-base-size * 1.3;
    color: $color-light;
  }
  .productText {
    max-width: 300px;
  }
  .thumbnails {
    display: flex;
    .thumbnail {
      width: $thumb-width;
      overflow: hidden;
      margin-right: 5px; 
      img {
        width: 100%;
      }

      &.active {
        border: 1px solid $color-dark;
      }
    }
  }
  .addButton {
    width: 70%;
    max-width: 350px;
    min-width: 200px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: $color-sub-background;
    background: black;
  }
}
