@import '../../../styles/settings.scss';

.root {
  width: 94vw;
  background-color: $color-sub-background;
  border: 1px solid $color-dark;
  padding: 1.5 * $base-size 2 * $base-size;
  z-index: 10;
  position: fixed;
  top: 0;
  letter-spacing: $font-spacing;
 }
 nav {
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .link {
   margin: 0 2 * $base-size;
 }
 .logo {
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   font-size: 1.5 * $font-base-size;
   
 }
